<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1 style="text-align: center;">Hi, my name is <span #tw></span></h1>
        </header>
        <div class="content">
            <p>I am a FULL STACK DEVELOPER with experience in</p><strong><span #tw1></span></strong>
        </div>
        <br>
        <ul class="actions">
            <a href="#one" class="button next scrolly">Get Started</a>
        </ul>
    </div>
</section>
<app-my-projects id="one"></app-my-projects>